{% extends 'base_admin.html' %}

{% block content %}

<div class="table-box">

    <div class="table-header">
        <div>
            <h2>Data Customer Service</h2>
            <p class="table-subtitle">Keluhan & feedback dari pelanggan bengkel</p>
        </div>
        <a href="/tambah_customer_service" class="btn btn-primary">
            <i class="fa fa-plus"></i> Tambah Keluhan
        </a>
    </div>

    <table>

        <thead>
            <tr>
                <th style="width:55px;">No</th>
                <th>Nama</th>
                <th>Telepon</th>
                <th>Keluhan</th>
                <th style="width:130px;">Status</th>
                <th style="width:130px;">Tanggal</th>
                <th style="width:100px;">Aksi</th>
            </tr>
        </thead>

        <tbody>
        {% for x in data %}
        <tr>
            <td class="td-center">{{ loop.index }}</td>
            <td>{{ x[1] }}</td>
            <td>{{ x[2] }}</td>
            <td class="td-keluhan">{{ x[3] }}</td>
            <td>
                {% if x[4]|lower in ['selesai', 'resolved', 'done'] %}
                    <span class="badge badge-success">{{ x[4] }}</span>
                {% elif x[4]|lower in ['proses', 'pending', 'diproses'] %}
                    <span class="badge badge-warning">{{ x[4] }}</span>
                {% else %}
                    <span class="badge badge-default">{{ x[4] }}</span>
                {% endif %}
            </td>
            <td>{{ x[5] }}</td>
            <td>
                <a href="/hapus_customer_service/{{ x[0] }}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Yakin ingin menghapus data ini?')">
                    <i class="fa fa-trash"></i> Hapus
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}
