{% extends 'base_admin.html' %}

{% block content %}

<div class="table-box">

    <h2>Detail Sparepart</h2>

    <table>

        <tr>
            <th>Sparepart</th>
            <th>Qty</th>
            <th>Harga</th>
            <th>Subtotal</th>
        </tr>

        {% for s in sparepart %}

        <tr>
            <td>{{ s[2] }}</td>
            <td>{{ s[3] }}</td>
            <td>Rp {{ "{:,.0f}".format(s[4]|float).replace(",", ".") }}</td>
            <td>Rp {{ "{:,.0f}".format(s[5]|float).replace(",", ".") }}</td>
        </tr>

        {% endfor %}

    </table>

    <h3>
        Total :
        Rp {{ "{:,.0f}".format(total|float).replace(",", ".") }}
    </h3>

</div>

{% endblock %}